{{! page: About }}
{{! mode: Alt mode %%% altMode }}
{{! mode: Alt mode 2 %%% altMode2 }}
<h1>about</h1>
<a href="/">Home</a>
{{#if altMode}}
This will be displayed if mode "Alt mode" is active
{{/if}}
{{#if altMode2}}
This will be displayed if mode "Alt mode 2" is active
{{/if}}